<nav class="navbar navbar-light bg-light">
  <%= link_to "Simple Airbnb", flats_path, class: "navbar-brand"  %>
  <%= link_to "Add flat", new_flat_path, class: "btn btn-outline-primary my-2 my-sm-0"  %>

</nav>
